<!DOCKTYPE HTML>

<head>
</head>

<body>
    <p>{{title}}</p>
    <form action="/" method="post">
        {% csrf_token %}
        <p>{{form}}</p>
        <input type="submit" value="Проверить">
    </form>
    <p>{{answer}}</p>
</body>
